{% extends 'base.html' %}

{% block content %}
  
<div class="container">
  <div class="row align-items-center">
      <div class="col">
        <div class="form-publish">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="input-publish" name="title" placeholder="Заголовок">
            <textarea name="text" id="text-publish" cols="43" rows="5" placeholder="Описание"></textarea>
            <div class="mb-3">
            <label for="formFile" class="form-label ms-4">Картинка публикации.</label>
            <input class="form-control ms-4" type="file" id="formFile" name="image">
          </div>
            <button class="btn-publish">Опубликовать</button>
          </form>
        </div>
    </div>
  </div>
</div>

  
{% endblock content %}

