{% extends 'base.html' %}

{% block content %}
  
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="form-publish">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="input-publish" name="title" placeholder="Заголовок">
            <textarea name="text" id="text-publish" cols="43" rows="5" placeholder="Описание"></textarea>
            <button class="btn-publish">Опубликовать</button>
          </form>
        </div>
      <div class="col-sm-6">
        <div class="zago-public">
          <h1>Публикуй все!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endblock content %}

